	
	{{ entries:listing folder="{blog_folder}" limit="{post_count}" }}
	{{ if no_results }}
	<div class="alert alert-danger">
		{{ no_results_text }}
	</div>
	{{ else }}
	<article class="post">
		<header class="post-header">
			<h2 class="post-title">
				<a href="{{ url }}">
					{{ title }}
				</a>
			</h2>
			<p class="post-date">
				{{ datestamp format="F jS, Y" }}
			</p>
		</header>
		<section class="post-body">
			{{ content|widont }}
		</section>
		<footer class="post-footer">
			{{ if categories }}
			<p class="post-meta">
				Filed under {{ categories_url_list }}.
			</p>
			{{ endif }}
		</footer>
	</article>
	{{ endif }}
	{{ /entries:listing }}

	{{ entries:pagination folder="{blog_folder}" limit="{post_count}" }}
	<ul id="pagination" class="pager">
	{{ if previous_page }}
		<li>
		<a href="{{ previous_page }}">
			&larr; Older
		</a>
		</li>
	{{ endif }}
	{{ if next_page }}
		<li>
			<a href="{{ next_page }}">
				Newer &rarr;
			</a>
		</li>
	{{ endif }}
	</ul>
	{{ /entries:pagination }}
