
	<article class="article">

{{ theme:partial src="post/prev-next-articles" }}

		<header class="article-header">
			<h2 class="article-title">
				{{ title }}
			</h2>
			<p class="article-date">
				{{ datestamp format="F jS, Y" }}
			</p>
		</header>
		<section class="article-body">
			{{ content|widont }}
		</section>
		<footer class="article-footer">
			{{ if categories }}
			<p class="article-meta">
				Filed under {{ categories_url_list }}.
			</p>
			{{ endif }}
		</footer>
	</article>

{{ theme:partial src="post/comments" }}
